<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
     <head th:replace="plantilla/template::head"></head> 

    <body>       
    <heade th:replace="plantilla/template::header"></heade>
        
        <h1 th:text="${titulo}"></h1>   <!-- donde el vea titulo, va a ser sustituido por tabla persona --> 
        <h1 th:text="#{cliente.nombre}"></h1><!-- th: thymleaf : atributo se importa arriba , nos permite poder agregar info dinamicamente dentro del html -->
        <table class="table table-dark table-striped"> <!-- etiqueta TABLE= vamos a genrarr una tabla agrupacion tipo tabla -->

            <thead class="thead-dark">        <!-- titulos de nuestras columnas de nuesta tabla -->    
                <tr>       <!-- table row: una fila de nuestra tabla. -->           
                    <th scope="col">Nombre</th>         <!-- tableheading= los titulitos -->
                    <th scope="col">Apellido 1 </th>     
                    <th scope="col">Apellido 2 </th> 
                    <th scope="col">Email </th> 
                    <th scope="col">Telefono </th>
                    <th scope="col">Pais</th>  
                    <th scope="col">Editar </th>  
                    <th scope="col">Eliminar </th>
                </tr> 
            </thead>   
            <tbody>    <!-- cuerpo de la tabla -->
            <th:block th:each="user : ${personas}"> <!-- tymeLeaf:block podemos implentar cierta logica--><!-- en este  caso seria un tymeleaf EACH, dice en este bloque por cada usuario ,en personas, quiero que haga esto-->
                <tr> <!-- table row  -->
                    <td th:text="${user.getNombre}"></td> <!--td:TABLE DATA, comment -->
                    <td th:text="${user.getApellido1}"></td> <!-- DENTRO de td: seteamos  TH:text,  -->
                    <td th:text="${user.getApellido2}"></td> 
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td th:text="${user.getPais.getPais}"></td><!-- como tengo un metodo tipo pais puedo acceder a los meotodos de objeto tipo pais. dentro de ellos esta el GEtpais -->
                    <td>
                        <a th:href="@{/editPersona/{id}(id=${user.getId})}">Edit</a><!-- definimos thymeleafes esa url. como agregar css en Thymeleaf-->
                    </td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody> 
    </table>
   
</body>

<footer th:replace="plantilla/template::footer"></footer>

</html>